
body
{
  background-image: url(/Users/kwilliams445/Desktop/Web&Screen/myfirstproject/images/warpedface.jpg);
  background-size: cover;
}
h1
{
  text-align: center;}
h1 {font-family: 'Monoton', cursive;
}
{
  background-image: url(/Users/kwilliams445/Desktop/Web&Screen/myfirstproject/images/warpedface.jpg);
  background-size: cover;
}
{font-family: 'Monoton', cursive;
}
